body{

	background-color:#333333;
}

#image-holder{
	background-image:url('irish-rail-map-2010.jpg');
	position: relative;
	width: 500px;
	height: 600px; 
}

.title-holder{
	background-color: #333333;
	color:#DF7401;
	font-family: Verdana, Geneva, sans-serif;
	font-style:italic;
	font-weight:bolder;
	position:relative;
	top:10px;
	left:100px;
	padding:5px;
	width:300px;
	text-align:center;
	border-style:inset;
	border-width:2px;
	border-color:#0066CC;



}

.radio-holder{
	background-color: #333333;
	color:#DF7401;
	font-family: Verdana, Geneva, sans-serif;
	font-style:italic;
	position:relative;
	left:50px;
	margin-top:100px;
	padding:3px;
	max-width:90px;
	border-style:inset;
	border-width:2px;
	border-color:#0066CC;

}
.submit-holder {
	background-color: #333333;
	font-style:italic;
	position:relative;
	left:350px;
	bottom:30px;
	margin-bottom:100px;
	padding:3px;
	max-width:99px;
	border-style:inset;
	border-width:2px;
	border-color:#0066CC;
}
.button{
	font-family: "Arial Black";
	font-size:20px;
	width:100px;
	height:50px;
	border-style:outset;
	border-width:5px;
}